@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 900;
    background: url('../images/404.jpg') no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

#subtitle {
    color: #000;
    font-size: 24px;
}
