@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 900;
    background: url('../images/404.jpg') no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

#subtitle {
    color: #000;
    font-size: 24px;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.center-container {
    display: flex;
    justify-items: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.center-content {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}